<!DOCTYPE html>

<html>

<head>
	<title>Racing game</title>

	<link rel="stylesheet" type="text/css" href="racing/styles.css" />
	<script type="text/javascript" src="racing/js/three.min.js"></script>
	<script type="text/javascript" src="racing/js/stats.js"></script>
	<script type="text/javascript" src="racing/js/simplex-noise.js"></script>
	<script type="text/javascript" src="racing/js/physi.js"></script>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script src="racing/js/timer.js"></script>


	<script type="text/javascript" src="racing/js/rac.js"></script>

     
</head>

<body >

	<div id="viewport"  style="background-color: darkgreen; text-align: center; font-size: 20px">Time: <span id="time"></span>
		<input type="button" onclick="location.href='/';" value="Quit" />

	</div>

</body>

</html>