<html>
<head>
    <title>Hello Facebook</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body style="background-color: #757c5b; font-family: Helvetica, Arial, sans-serif; ">

<h1 style="font-weight: bold; text-align: center; margin-top: 10%">TAI Gaming Platform</h1>

<form action="/connect/facebook" method="POST">
    <input type="hidden" name="scope" value="user_posts" />
    <div class="container" style="
     margin: 5% auto 0;
     height: 300px;
     width: 500px;
     background-color: #769906;">


        <h3>Connect to Facebook</h3>
        <p>You aren't connected to Facebook yet.</p>
        <p>Please log in to play.</p>
    <p>
        <button type="submit" style="border: 0; background: transparent">
            <img src="/img/login.png" width="200" height="75" alt="submit" />
        </button>
    </p>
    </div>
</form>
</body>
</html>